<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="highlighter.checklistapp">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".boundary.UserHomepage"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".boundary.AdminHomepage"/>
        <activity android:name=".boundary.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".boundary.UserChecklistsPage" />
        <activity android:name=".boundary.AdminCreateAccount" />
        <activity android:name=".boundary.UserDetailedChecklistPage" />
        <activity android:name=".boundary.AdminSearchAccount">

        </activity>
        <activity android:name=".boundary.AdminEditAccount" >
        </activity>
        <activity android:name=".boundary.AdminSearchChecklist">

        </activity>
        <activity android:name=".boundary.AdminEditChecklist"></activity>
    </application>

</manifest>